* {
    margin: 0 auto;
    padding: 0px;
}

#wrapper {
    width: 1000px;
	margin-top: 5px;
	position: relative;

}

header, main, section, nav {
    display: block;
}

header {
    width: 100%;
    height: 220px;
    background-color: #ca151d;
    position: relative;
	float: left;
}

.dataNav {
    width: 100%;
    background-color: #ffffff;
    height: 70px;
/*    float: left;*/
}

.dataUl {
    list-style-type: none;
    width: 54%;
    float: right;
	height: 100%;
<<<<<<< HEAD
    margin-right: 16%;
=======
    margin-right: 19%;
>>>>>>> origin/master
/*    margin-top: 1.5%;*/
}

.dataUl > li {
    float: right;
	height: 75%;
    width: 25%;
    margin-top: 3%;
    color: #ca151d;
    direction: rtl;
    text-align: center;
    font-size: 1.4em;
}

.dataUl > li > b {
    color: #909090;
}

.logo {
    background: url(../images/logo.jpg);
    width: 40%;
    height: 130px;
    display: block;
}

.logoSite {
    width: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 5%;
}

.date {
    width: 20%;
<<<<<<< HEAD
    height: 18%;
    background-color: #ffffff;
    position: absolute;
	padding-top: 0.2%;
=======
    height: 19%;
    background-color: #ffffff;
    position: absolute;
	padding-top: 0.4%;
>>>>>>> origin/master
    top: 87%;
    left: 7.5%;
    border-radius: 8px;
    text-align: center;
    font-size: 1.6em;
    color: #ca151d;
    font-weight: bold;
}
<<<<<<< HEAD
.breadcrumb {
    width: 30%;
    height: 13%;
    margin-top: 12%;
    margin-right: 19%;
    direction: rtl;
    background-color: #ca151d;
}
.breadcrumb > li a {
    color: #ffffff;
}
.breadcrumb > li.active {
    color: #ffffff;
}
=======
>>>>>>> origin/master

.clear {
    clear: both;
}

h1 {
    color: #ffffff;
<<<<<<< HEAD
=======
	text-decoration: underline;
/*
    position: absolute;
    top: 50%;
    left: 58%;
*/
>>>>>>> origin/master
	float: right;
	margin-right: 20%;
	margin-top: 5%;
    font-size: 3.0em;
}

<<<<<<< HEAD
=======
/*
>>>>>>> origin/master
.line {
    width: 19%;
    background-color: #d6d6d6;
    height: 1px;
    position: absolute;
    top: 80%;
    left: 60%;
}
<<<<<<< HEAD

nav {
    height: 870px;
    background-color: #ca151d;
	color: #ffffff;
    width: 16%;
=======
*/

nav {
    height: 1200px;
    background-color: #ca151d;
	color: #ffffff;
    width: 15%;
>>>>>>> origin/master
	float: right;
    position: absolute;
	right: 0px;
}

<<<<<<< HEAD
nav > p.login {
	margin-top: 15%;
	padding: 0px 4px 10px 4px;
	text-align: center;
}

nav > p.name {
    padding: 0px 4px 0px 4px;
    text-align: center;
}

=======
nav > p {
	margin-top: 15%;
	padding: 0px 4px 0px 4px;
	text-align: center;
}

>>>>>>> origin/master
nav > p > a {
	color: #ffffff;
	text-decoration: underline;
}

.profilePic {
	height: 170px;
	width: 100%;
<<<<<<< HEAD
	background-image: url(../images/user.png);
=======
	border-radius: 50%;;
	background:#123
>>>>>>> origin/master
}

.sideNav {
	width: 100%;
	position: relative;
<<<<<<< HEAD
	top: 2%;
=======
	top: 20%;
>>>>>>> origin/master
}

.sideNav > li {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    width: 100%;
/*    position: relative;*/
/*    top: 300px;*/
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
/*    padding: 8px 0px 8px 0px;*/
}

.sideNav > li > a {
    display: block;
	border-bottom: 2px solid #ca151d;
	text-decoration: none;
    width: 100%;
    color: #ffffff;
}
<<<<<<< HEAD
=======

.sideNav > li > a:hover {
    border-color: #d6d6d6;
/*	text-decoration: underline;*/
/*	text-decoration-color: #d6d6d6;*/
    color: #ffffff;
    border-radius: 3px;
}
>>>>>>> origin/master

.sideNav > li > a:hover {
    border-color: #d6d6d6;

    border-radius: 3px;
}

.drone {
    width: 35%;
    height: 220px;
    background-color: #c11520;
    position: absolute;
    top: 230px;
    right: 170px;
    box-shadow: 5px 5px 5px #888888;
}
.Courier {
    width: 47%;
    height: 220px;
    background-color: #7e090d;
    position: absolute;
    top: 230px;
    left: 0px;
    box-shadow: 5px 5px 5px #888888;
}
.package {
    width: 47%;
    height: 180px;
    background-color: #e61624;
    position: absolute;
    top: 460px;
    left: 0px;
    box-shadow: 5px 5px 5px #888888;
}
.pickup {
    width: 35%;
    height: 400px;
    background-color: #841c0f;
    position: absolute;
    top: 460px;
    right: 170px;
    box-shadow: 5px 5px 5px #888888;
}
.report {
    width: 47%;
    height: 209px;
    background-color: #a02c0f;
    position: absolute;
    top: 650px;
    left: 0px;
    box-shadow: 5px 5px 5px #888888;
}
h2 {
    color: #ffffff;
    float: right;
    padding-right: 5%;
    font-size: 2.5em;
    direction: rtl;
}
img {
    padding-left: 5%;
    padding-top: 2%;
    float: left;
}
.monReport {
    width: 30%;
    margin-top: 4%;
    margin-right: 45%;
}
.dayReport {
    width: 25%;
    padding-right: 2%;
    margin-top: 2%;

}
.drone > p {
    color: #ffffff;
    margin-top: 30%;
    direction: rtl;
    margin-right: 5%;
}








